<h1>Cocktails</h1>
<% @cocktails.each do |cocktail| %>
<ul>
<li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
</ul>
<% end %>
<%= link_to 'Novo Cocktail', new_cocktail_path, class:'btn bg-light mp-5'%>

