.transbox {
  margin: 50px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 5px;
}

.transbox-btn {
  margin: 50px;
  width: 100px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 5px;
}

.transbox h1 {
  margin: 5px;
  padding: 15px;
  text-align: center;
  color: black;
}

